.blog {
  text-align: center;
  padding-bottom: 119px;

  @media (max-width: $tablet-width) {
    padding-bottom: 69px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 59px;
  }
}

.blog__title {
  margin-bottom: 20px;
}

.blog__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  padding-top: 65px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 54px;
    gap: 40px;
  }
}

.blog__section {
  background-color: $bg-gray;
  grid-column: 1 / 2;
  min-height: 300px;
  display: flex;
  box-sizing: border-box;

  @media (max-width: $mobile-width) {
    min-height: 512px;
    flex-direction: column;
  }
}

.blog__image {
  flex: 1 1 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $mobile-width) {
    flex: 0 0 256px;
    order: -1;
  }
}

.blog__image--care {
  background-image: url("../img/content/blog-care-desktop.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/content/blog-care-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/content/blog-care-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/blog-care-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/content/blog-care-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/blog-care-mobile@2x.jpg");
    }
  }
}

.blog__image--crystals {
  order: 2;
  background-image: url("../img/content/blog-crystals_desktop.jpg");
  background-position: right;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/content/blog-crystals_desktop@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/content/blog-crystals_tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/blog-crystals_tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/content/blog-crystals_mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/blog-crystals_mobile@2x.jpg");
    }
  }
}

.blog__content {
  flex: 1 1 50%;
  padding: 65px 57px;

  @media (max-width: $tablet-width) {
    padding: 53px 84px 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (max-width: $mobile-width) {
    padding: 45px 62px 53px;
    min-height: 256px;
  }
}

.blog-date {
  font-weight: 500;
  font-size: 14px;
  color: $font-transparent;
  margin: 0 0 12px;
}

.blog__content h3 {
  font-family: $cormorant;
  font-weight: 600;
  line-height: 130%;
  font-size: 26px;
  color: $black;
  margin: 0 0 37px;
}

.blog__section-big {
  background-color: $bg-gray;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  position: relative;

  @media (max-width: $tablet-width) {
    grid-column: auto;
    grid-row: auto;
    display: flex;
  }

  @media (max-width: $mobile-width) {
    min-height: 512px;
    flex-direction: column;
  }
}

.blog__image--trends {
  background-image: url("../img/content/trends_desktop.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/content/trends_desktop@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    position: static;
    flex: 1 1 50%;
    background-image: url("../img/content/trends_tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/trends_tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/content/trends_mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/trends_mobile@2x.jpg");
    }
  }
}

.blog__content--trends {
  background-color: $bg-gray;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 285px;
  min-height: 300px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    position: static;
    width: auto;
    height: auto;
    flex: 1 1 50%;
  }
}
