.page-header__wrapper {
  padding: 30px 0 40px;
  border-bottom: 1px solid $line;

  @media (max-width: $tablet-width) {
    border: none;
    padding: 46px 0 42px;
  }

  @media (max-width: $mobile-width) {
    padding: 28px 0 26px;
  }
}

.page-header__flex-wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    align-items: center;
    flex-wrap: wrap;
  }
}

.page-header__search {
  box-sizing: border-box;
  flex: 0 0 50%;
  padding-right: 43px;
}

.page-header__user-navigation {
  padding-top: 11px;
  flex: 0 0 50%;
  box-sizing: border-box;
  padding-left: 43px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    padding-top: 0;
  }
}

.page-header__user-navigation a {
  text-decoration: none;
  color: $font;
  font-weight: 500;
  font-size: 14px;
}

.page-header__user-navigation a:hover {
  opacity: 0.5;
}

.page-header__user-navigation a:not(:last-child) {
  margin-right: 35px;
}

.page-header__logo {
  color: $brown;
  display: block;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);

  @media (max-width: $mobile-width) {
    top: 20px;
    width: 52px;
    height: 52px;
  }
}

.page-header__logo[href]:hover {
  opacity: 0.5;
}

.page-header__logo--modal {
  left: 20px;
  transform: translate(0);
}

.page-header__logo svg {
  @media (max-width: $mobile-width) {
    width: 52px;
    height: 52px;
  }
}

.page-header__login {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__cart {
  @media (max-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 37px;
    color: inherit;
  }

  @media (max-width: $mobile-width) {
    width: 20px;
  }
}

.page-header__cart-counter {
  margin-left: 3px;
}

.page-header__cart svg {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.page-header__cart span {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__menu-button {
  display: none;
  padding: 0 5px;
  color: inherit;
  border: none;
  background-color: transparent;

  @media (max-width: $tablet-width) {
    display: block;
    padding: 0;
  }

  @media (max-width: $mobile-width) {
    padding: 2px 0 0 0;
  }
}

.page-header--opened,
.page-header--nojs {
  @media (max-width: $tablet-width) {
    background-color: $brown;
    color: $white;
    width: 100%;
    padding-bottom: 133px;
    position: absolute;
    z-index: 10;
  }
}

.page-header--nojs {
  @media (max-width: $tablet-width) {
    position: relative;
  }
}

.page-header--opened .page-header__wrapper,
.page-header--nojs .page-header__wrapper {
  @media (max-width: $tablet-width) {
    padding-bottom: 24px;
  }
}

.page-header--opened .page-header__cart,
.page-header--nojs .page-header__cart {
  @media (max-width: $tablet-width) {
    color: $white;
  }
}

.page-header--opened .page-header__logo,
.page-header--nojs .page-header__logo {
  @media (max-width: $tablet-width) {
    color: $white;
  }
}

.page-header--opened .search,
.page-header--nojs .search {
  @media (max-width: $tablet-width) {
    display: block;
    box-sizing: border-box;
    order: 4;
    flex: 1 0 100%;
    padding: 39px 4px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 29px 0 0;
  }
}

.page-header--opened .search input[type="search"],
.page-header--nojs .search input[type="search"] {
  @media (max-width: $tablet-width) {
    background-color: rgba($white, 0.15);
    color: $white;
    border-radius: 21px;
    box-sizing: border-box;
    width: 100%;
    padding: 13px 8px 13px 41px;
  }
}

.page-header--opened .search input[type="search"]::placeholder,
.page-header--nojs .search input[type="search"]::placeholder {
  @media (max-width: $tablet-width) {
    color: transparent;
  }
}

.page-header--opened .search__button,
.page-header--nojs .search__button {
  @media (max-width: $tablet-width) {
    color: inherit;
    top: initial;
    bottom: 0;
    left: 7px;
  }

  @media (max-width: $mobile-width) {
    left: 2px;
  }
}

.page-header--opened .search__button svg,
.page-header--nojs .search__button svg {
  @media (max-width: $tablet-width) {
    width: 16px;
    height: 16px;
  }
}

.page-header--opened .header-navigation,
.page-header--nojs .header-navigation {
  @media (max-width: $tablet-width) {
    display: block;
  }
}

.page-header--opened .header-navigation__list,
.page-header--nojs .header-navigation__list {
  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding-top: 6px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 0;
  }
}

.page-header--opened .header-navigation__item,
.page-header--nojs .header-navigation__item {
  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.page-header--opened .header-navigation__link,
.page-header--nojs .header-navigation__link {
  @media (max-width: $tablet-width) {
    padding: 18px 0 18px 5px;
    color: inherit;
    font-size: 24px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
  }
}

.page-header--opened .header-navigation-extra__item,
.page-header--nojs .header-navigation-extra__item {
  @media (max-width: $tablet-width) {
    display: block;
  }
}

.page-header--opened .page-header__login,
.page-header--nojs .page-header__login {
  @media (max-width: $tablet-width) {
    display: block;
    position: absolute;
    left: 45px;
    bottom: 96px;
    color: inherit;
    font-size: 18px;
  }

  @media (max-width: $mobile-width) {
    left: 15px;
  }
}
