.spoller__item--closed .spoller__content {
  display: none;
}

.spoller__item--opened .spoller__content {
  display: block;
}

.spoller__item--opened .spoller__button svg {
  transform: rotate(180deg);
}

.spoller__item--nojs .spoller__button {
  display: none;
}

.spoller__item--nojs .spoller__content {
  display: block;
}
