$poppins: "Poppins", "Verdana", sans-serif;
$cormorant: "Cormorant Garamond", "Times New Roman", serif;

$white: #ffffff;
$black: #000000;
$font: #1d1613;
$font-transparent: #9b9997;
$brown: #a87b62;
$bg-gray: #f0eae4;
$line: #f6f5f4;
$shadow: rgba(219, 213, 208, 0.24);
$error: #c32a2a;

$desktop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
