$poppins: "Poppins", "Verdana", sans-serif;
$cormorant: "Cormorant Garamond", "Times New Roman", serif;

$white: #FFFFFF;
$black: #000000;
$font: #1D1613;
$font-transparent: #9B9997;
$brown: #A87B62;
$bg-gray: #F0EAE4;
$line: #F6F5F4;

$desktop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
